<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Menú Principal</h1>
    </header>
    <nav>
        <div class="button-container">
            <button onclick="location.href='/ejercicio1'" aria-label="Ir a Ejercicio 1">Ejercicio 1</button>
            <button onclick="location.href='/ejercicio2'" aria-label="Ir a Ejercicio 2">Ejercicio 2</button>
        </div>
    </nav>
</body>
</html>